//colors

$background-one		:	black;
$background-two		:	#3CC47C;
$table-border		:	#C5C1C0;
$cell-border		:	black;
$alive				:	red;
$newborn			:	pink;
$dead				:	black;
$button-background	:	#373737;
$text-shadow		:	black;
$header-color		:	#30415D;
$button-color		:	white;


//paths

$path-font			:	'https://fonts.googleapis.com/css?family=';



//stacks

$stack-sans-serif	:	Helvetica, Arial, sans-serif;
$stack-anton		:	'Anton', $stack-sans-serif;



//media queries 

$break-phone		:	'(max-width: 565px)';
$break-tablet		:	'(max-width: 850px)';
