body {
	padding: 0;
	margin: 0;
	@include dimensions(100%, 100%);
}

.main {
	margin: 0 auto;
	padding: 0;
	@media #{$break-tablet} {
		width: 100%;
		height: 100%;
	}
}

.board {
	position: relative;
	border: 5px solid grey;
	width: 900px;
	height: 600px;
	margin: 0 auto;
	@media #{$break-tablet} {
		width: 100%;
		height: 300px;	
	}
}

.tile {
	position: absolute;
	border: 1px solid black;
	@include dimensions(15px, 15px);
	box-sizing: border-box;
}

.toppanel {
	width: 700px;
	max-width: 100%;
	margin: 0 auto 10px;
}

.bottompanel {
	width: 500px;
	max-width: 100%;
	margin: 30px auto 50px;
}

.header {
	padding: 0px;
	margin: 0;
}

h1 {
	padding-bottom: 0;
	margin: 0 auto -20px;
}

h3 {
	margin: 20px;
	@media #{$break-phone} {
		margin: 10px;
	}
}

button {
	@include dimensions(100px, 50px);
	margin: 20px;
	@media #{$break-phone} {
		width: 100%;
		margin: 0;
	}
}

.header {
	margin-bottom: 50px;
}